body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#dcdcdc;
    font-family:Arial;
}

.elevator-panel{
    width:95px;
    background:#cfcfcf;
    border-radius:35px;
    padding:12px 10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.display{
    width:70px;
    height:150px;
    background:#111;
    margin:0 auto 15px;
    border-radius:4px;

    display:flex;
    justify-content:center;
    align-items:center;

    color:red;
    font-size:20px;
    font-weight:bold;
    line-height:1.4;
}

select{
    width:70px;
    margin-bottom:12px;
    padding:4px;
    font-size:14px;
}

.btn{
    width:52px;
    height:34px;
    margin:7px 0;
    font-size:22px;

    color:#ff8c42;
    background:#efefef;

    border:2px solid #bdbdbd;
    border-radius:8px;

    cursor:pointer;
}

.btn:hover{
    background:#ddd;
}
